<title>Code Academy - Bilgilendirme</title>
<br><br>
<main>
  <div class="container" style="padding: 1rem;">
    <div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
      <div>
        <img src="https://cdn.discordapp.com/icons/639501091586965505/a_830c2bcfa4f1529946e82f15441a1227.gif" style="border-radius: 50%;">
      </div>
      <h1 class="text-light font-weight-light">Selam, Code Academy Kod Paylaşım Merkezine Hoş Geldin!</h1>
      <p class="lead"><a href="/davet" target="_blank">Code Academy Discord Sunucusu</a> kod paylaşım sistemine hoş geldin!</p>
    </div><br>
    <h3 class="text-light font-weight-light">Açıklama</h3>
    <hr>
    <ul>
      <li>
       Sunucumuzdaki kodların değerlerine göre sıralaması:
        <ul>
          <li>Hazır Sistemler (30 davet)</li>
          <li>Elmas Kodlar (20 davet)</li>
          <li>Altın Kodlar (10 davet)</li>
          <li>Normal Kodlar (0 davet)</li>
        </ul>
      </li>
      <li>Kodları görebilmek için, rollerine sahip olmalısınız. Rollere erişebilmek için yanlarında belirtilmiş davet sayısına ulaşmanız gerekiyor. Normal kodlar herkese açıktır, siteden ulaşabilirsiniz.</li>
      <li>Sunucuyu boostlayanlar tüm kodları görebilmektedirler.</li>
      <li>Davet bilginizi görmek için <kbd>!davet</kbd> yazmanız yeterlidir.</li>
    </ul><br>
    <h3 class="text-light font-weight-light">Bilgilendirme</h3>
    <hr>
    
    
    <ul>
      <li>Öncelikle paylaştığımız kodları sıfırdan kendi tarzımızda yazıyoruz. Kimsenin yazdığı bir kodu kopyalayıp paylaşarak emek hırsızlığı yapmayız.</li>
      <li>Kod paylaşım sunucuları olan arkadaşlar için söylüyorum:</li>
      <p>
        Paylaştığımız kod ile sizin sunucunuzda paylaştığınız kod aynı işlevi yapıyor olabilir. Bu bizim paylaşamayacağımız anlamına gelmez. Kodu biz sıfırdan farklı bir tarzda yazıyorsak kod artık size ait değil demektir. Eğer sizden izinsiz bir şekilde o kodu birebir aynı kopyalayıp burada paylaşmışsak o zaman gelip, bize (saygı çerçevesi içerisinde) istediğinizi söyleme hakkına sahipsiniz. Ha tabi sizler için de aynı durum geçerli. Biz nasıl sizlerin kodlarınızı çalmayıp paylaşmıyorsak siz de bizim paylaştığımız kodları veya anlatımlarımızı çalamazsınız. Eğer böyle bir durum olduğunu fark edersek sunucu sahipleri olarak birlikte bu olayı hukuki işlem yapılacak seviyeye kadar ilerletiriz.
      </p>
    </ul>
    <br>
    <ul>
      <li class="text-light font-weight-light">Kodlarımız artık bu site üzerinden paylaşılmaktadır.</li>
      <li class="text-light font-weight-light">Sitemizde kendi kodlarınızı da paylaşabilirsiniz. (Trolleyenler kod paylaşamayacaktır)</li>
      <li class="text-light font-weight-light">Sitede sağ üst köşede bulunan `Giriş Yap` seçeneğine basıp giriş yapmalısınız.</li>
      <br>
      <li class="text-light font-weight-light">Giriş yaptıktan sonra görme izniniz olan kodları görebileceksiniz.</li>
      <li class="text-light font-weight-light">Normal Kodları ve Topluluk Kodlarını (Sizden Gelenler) herkes görebilir.</li>
      <li class="text-light font-weight-light">Geri kalan kodlara erişebilmek için, sunucuda o kod kategorisinin rolüne sahip olmalısınız.</li>
      <br>
      <li class="text-light font-weight-light">
        Kod rollerine sahip olmak için sunucumuzda belirli davet sayılarına ulaşmanız gerekmektedir.
        <ul>
          <li class="text-light font-weight-light"><b>Normal Kodlar:</b> Herkese açık.</li>
          <li class="text-light font-weight-light"><b>Topluluk Kodları:</b> Herkese açık.</li>
          <li class="text-light font-weight-light"><b>Altın Kodlar:</b> Sunucuya 10 kişi davet etmelisiniz.</li>
          <li class="text-light font-weight-light"><b>Elmas Kodlar:</b> Sunucuya 20 kişi davet etmelisiniz.</li>
          <li class="text-light font-weight-light"><b>Hazır Sistemler:</b> Sunucuya 30 kişi davet etmelisiniz.</li>
        </ul>
      </li>      
    </ul>
    <br>
    <h3 class="text-light font-weight-light">Kodlara Erişebilmek İçin Yapmanız Gerekneler:</h3>
    <hr>
    <ul>
      <li class="text-light font-weight-light"><a href="/davet" target="_blank">Discord Sunucumuza</a> katılmanız gerekmektedir.</li>
      <li class="text-light font-weight-light">Discord hesabınızla <a href="/giris" target="_blank">giriş yapmanız</a> gerekmektedir.</li>
      <li class="text-light font-weight-light">
        Kategorileri görmek için: 
        <ul>
          <li class="text-light font-weight-light"><b>Normal Kodlar:</b> Herkese açık.</li>
          <li class="text-light font-weight-light"><b>Topluluk Kodları:</b> Herkese açık.</li>
          <li class="text-light font-weight-light"><b>Altın Kodlar:</b> Sunucuya 10 kişi davet etmelisiniz.</li>
          <li class="text-light font-weight-light"><b>Elmas Kodlar:</b> Sunucuya 20 kişi davet etmelisiniz.</li>
          <li class="text-light font-weight-light"><b>Hazır Sistemler:</b> Sunucuya 30 kişi davet etmelisiniz.</li>
        </ul>
      </li>
    </ul>
    <h3 class="text-danger">Önemli Not:</h3>
    <hr>
    <p class="text-light font-weight-light">
     Lütfen bir hata aldığınızda hata mesajını okuyun! Hata mesajını okumadan saçma sapan sorular sormayın! 
    </p>
  </div>
</main>