<title>Code Academy - ANA SAYFA</title>
<br><br>
<main class="container-fluid bg-lightdark" style="padding: 1rem;">
<div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
  <div>
    <img src="https://cdn.discordapp.com/icons/639501091586965505/a_830c2bcfa4f1529946e82f15441a1227.gif" style="border-radius: 50%;"></div><br>
    <h1 class="text-light font-weight-light">Code Academy</h1>
    <h2 class="text-light font-weight-light">
       Kodlama Destek ve Kod Paylaşım Sunucusu
  </h2>
  <p class="h4 text-light font-weight-light">
    Kodları görebilmek için <a href="/davet" target="_blank">Discord Sunucumuza</a> katılmanız gerekmektedir!
  </p>
  <!-- <p class="h4 text-light font-weight-light">
     <a href="/bilgilendirme" target="_blank">Kodlara bakmadan önce kesinlikle okuyunuz! (Tıkla git)</a>
  </p> -->
  <div class="btn-group mt-4">
    <a href="/bilgilendirme" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fas fa-cog"></i> Mutlaka Oku!</a>
    <a href="/davet" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-discord"></i> Discord Sunucumuza Katıl</a>
  </div>
  </div><br>
  <div class="container text-center">
    <div class="btn-group">
      <a href="/normal" class="btn btn-outline-secondary">Normal Kodlar</a>
    </div>
    <div class="btn-group">
      <a href="/altin" class="btn btn-outline-warning">Altın Kodlar</a>
    </div>
    <div class="btn-group">
      <a href="/elmas" class="btn btn-outline-primary">Elmas Kodlar</a>
    </div>
    <div class="btn-group">
      <a href="/hazir" class="btn btn-outline-danger">Hazır Sistemler</a>
    </div><br><br>
    <div class="btn-group">
      <a href="/topluluk" class="btn btn-outline-success">Sizden Gelenler</a>
    </div>
  </div>
</main>